body {
    margin: 0;
    padding: 0;
    background: #dedada;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

h1 {
    position: static;
    border: 1px solid black;
    padding: 0.2em;
    background-color: rgb(176, 185, 4);
    box-shadow: 1px 1px 10px rgb(48, 120, 175);
    border-radius: 5%;
}

.container {
    border: 1px solid transparent;
}

.input {
    display: flex;
    flex-direction: row;
    gap: 1em;
    height: 10em;
    width: 30em;
}

#taskInput {
    height: 50%;
    width: 50%;
    border-radius: 8px;
    margin-left: 4em;
}

#addBtn {
    background: rgb(68, 188, 239);
    font-size: 1.4em;
    border: 0.2px solid transparent;
    box-shadow: 2px 2px;
    cursor: pointer;
    transition: transform .2s;
}

#addBtn:hover {
    transform: scale(1.1);
}

ul {
    text-align: center;
    justify-content: center;
    align-items: center;
}
