body {
    margin: 0;
    padding: 0;
    background: rgb(37, 37, 37);
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

h1 {
    position: static;
    padding: 0.2em;
    color: rgba(245, 245, 245, 0.884);
}

.container {
    border: 1px solid transparent;
}

.input {
    display: flex;
    flex-direction: row;
    gap: 1em;
    height: 4em;
    width: 25em;
}

#taskInput {
    height: 50%;
    width: 50%;
    border-radius: 8px;
    margin-left: 4em;
}

#addBtn {
    background: rgb(68, 188, 239);
    font-size: 1.4em;
    border: 0.2px solid transparent;
    box-shadow: 2px 2px;
    cursor: pointer;
    transition: transform .3s;
}

#addBtn:hover {
    transform: scale(1.1);
}

ul {
    text-align: center;
    justify-content: center;
    align-items: center;
}

li {
    font-size: 1.5em;
    list-style: none;
    color: rgba(245, 245, 245, 0.884);;
}

input {
    text-align: center;
}

.remove-btn {
    background: transparent;
    border: 1px solid transparent;
    font-size: 1.2em;
    margin-left: 1em;
    color: rgb(167, 7, 7);
    cursor: pointer;
    transition: transform .3s;
}

.remove-btn:hover {
    transform: scale(1.3);
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}